rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow read/write access to all users for local development
    match /{allPaths=**} {
      allow read, write;
    }
  }
}